NETIAM_E2E_ADMIN_BASE_URL=https://localhost:7002
NETIAM_E2E_TENANT_ID=tenant-default
NETIAM_E2E_ACTING_USER_ID=user-admin-default
NETIAM_E2E_BEARER_TOKEN=
NETIAM_E2E_PROVIDER=dingtalk

NETIAM_DINGTALK_APP_KEY=
NETIAM_DINGTALK_APP_SECRET=
NETIAM_DINGTALK_ROOT_DEPT_ID=1

NETIAM_FEISHU_APP_ID=
NETIAM_FEISHU_APP_SECRET=

NETIAM_WECOM_CORP_ID=
NETIAM_WECOM_AGENT_ID=
NETIAM_WECOM_APP_SECRET=
NETIAM_WECOM_AUTH_CODE=
